.offert {
  max-width: 1120px;
  margin: 0 auto;
  padding: 70px 0 110px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.offert h2 {
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 1.6px;
  margin-bottom: 95px;
}

.offert-container {
  display: flex;
  justify-content: space-between;
}

.offert-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offert-box-image-container {
  background: #BBC6C9;
  padding: 13px;
  margin-bottom: 21px;
}

.offert-box h4 {
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.8px;
  margin-bottom: 21px;
}

.offert-box p {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-variant: all-small-caps;
  letter-spacing: 0.28px;
  max-width: 300px;
}